*{
	margin: 0px;
	padding:0px;
	font-family: tahoma, sans-serif;
	box-sizing: border-box;
}

body{
	background-image: url("backround_chat.jpg") ;

}

.ChatBox{
	width: 500px;
	min-width: 390px;
	height: 600px;
	background: unset;
	padding: 25px;
	margin: 20px auto;


}
.ChatLogs{
	padding: 30px;
	width: 100%;
	height: 450px;
	background: #eee; 
	overflow-x: hidden;
	overflow-y:scroll; 
}
.ChatLogs::-webkit-scrollbar{
width: 10px;
}
.ChatLogs::-webkit-scrollbar-thumb{
border-radius: 5px;
background: rgba(0,0,0,.1);
}
.Chat{
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	margin-bottom: 10px;
}
.Chat .User-Image{
	width: 60px;
	height: 60px;
	background: #ccc;
	border-radius: 50%;
}
.Chat .Chat-Message{
	width: 70%;
	padding: 15px;
	margin: 5px 10px 0;
	color: #fff;
	font-size: 18px;
}

.friend .Chat-Message{
	background: #1adda4;
}
.Self .Chat-Message{
	background: #1ddced;
	order: -1;
}

.Chat-Form{
	margin-top: 20px;
	display: flex;
	align-items: flex-start;
}
.Chat-Form textarea{
	background: #fbfbfb;
	width: 75%;
	height:50px;
	border:2px solid #eee;
	border-radius: 3px;
	resize: none;
	padding: 10px;
	font-size: 19px;
	color:#333;
}
.Chat-Form textarea:focus{
	background: #fff;
}
.Chat-Form textarea::-webkit-scrollbar{
width: 10px;
}
.Chat-Form textarea::-webkit-scrollbar-thumb{
border-radius: 5px;
background: rgba(0,0,0,.1);
}
.Chat-Form button{
	background: #1ddced;
	padding: 5px 15px;
	font-size: 30px;
	color:#fff;
	border: none;
	margin: 0 10px;
	border-radius: 3px;
	box-shadow: 0 3px 0 #0eb2c1;
	cursor: pointer;	
	-webkit-transition: background .2s ease;
	-moz-transition: background .2s ease;
	-o-transition: background .2s ease;
}
.Chat-Form button:hover{
background: #13c8d9;
}

